# Copyright 2020-present Open Networking Foundation
# SPDX-License-Identifier: LicenseRef-ONF-Member-Only-1.0
tmp
target
.vscode
*.pyc
.idea
*.iml
*.pcap
model_0.log
pcap_output
*.log
zlog-cfg-cur
.DS_Store
*.swp
logs/
graphs/
mvn_settings.xml
dependencies.xml
