# Copyright 2020-present Open Networking Foundation
# SPDX-License-Identifier: LicenseRef-ONF-Member-Only-1.0
tmp
target
.vscode
*.pyc
ptf.log
ptf.pcap
ptf/run/tm/log
.idea
*.iml
*.pcap
model_0.log
pcap_output
*.log
zlog-cfg-cur
