# SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
# SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
#
git+https://github.com/p4lang/scapy-vxlan
git+https://github.com/p4lang/ptf
ipaddress
p4runtime==1.3.0