[flake8]
exclude =
  .venv
  *.xml
  *.md
  __pycache__
  Makefile
  *.json

ignore =
  # Name may be undefined, or defined from star imports
  F405
  # line break before binary operator
  W503
extend-ignore = E203
max-line-length = 88
