# Copyright 2020-present Open Networking Foundation
# SPDX-License-Identifier: LicenseRef-ONF-Member-Only-1.0

---
name: REUSE

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: reuse lint
      uses: fsfe/reuse-action@v1
